/* Fonts Start */
@import url('https://fonts.googleapis.com/css?family=Poiret One');
@import url('https://fonts.googleapis.com/css?family=Raleway');
/* Fonts End */
/* Banner Start */

body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}



#banner {
  background: linear-gradient(to left, #ECE9E6, #FFFFFF);
  margin-top: -2.5em;
  margin-left: -0.46875em;
  height: 3.125em;
  width: 101.001%;
  border-radius: 35px;
  color: #fe8c00;
  font-family: Raleway;
  font-size: 32px;
  padding-top: 2.1875em;
  position: fixed;
  opacity: 0.92;
  z-index: 1;
}

#title {
 font-family: Poiret One;
 font-size: 45.5px;
 margin-top: 0em;
}

#subtitle {
  font-family: Poiret One;
  font-size: 18px;
  color: #fe8c00;
  margin-top: -1.75em;
}
/* Banner End */
/* Body Start */

body {
  background: linear-gradient(to top, #FFB75E, #169aff);
  background-repeat: space;
}

#bodymessage1 {
  font-size: 45px;
  padding-top: 3.111em;
  font-family: Poiret One;
  color: white;
}

#line {
  width: 22em;
  height: 0.15em;
  margin-top: -1em;
  margin-bottom: 0.9em;
  background-color: white;
  border-radius: 50px;
}

input {
  font-size: 15px;
  width: 11.667em;
  height: 1.667em;
  font-family: Raleway;
  border: none;
  padding: 0.533em;
  border-radius: 6px;
}

#forgetyourpassword {
  font-size: 16px;
  color: white;
  font-family: Raleway;
  margin-top: 0.688em;
  margin-bottom: 0.625em;
  width: 12.5em;
  border-radius: 6px;
  padding: 0.438em;
  transition: background .5s;
  -webkit-transition: background .5s;
}

#forgetyourpassword:hover {
  transition: opacity 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  transition: all ease 0.5s;
  cursor: pointer;
  background-color: #b36200;
}

#loginbutton {
  font-size: 15px;
  width: 12.667em;
  height: 1.667em;
  background-color: #b32700;
  border: none;
  color: white;
  margin-bottom: 2.333em;
  font-family: Raleway;
  font-weight: bold;
  padding-bottom: 1.667em;
  padding-top: 0.267em;
  border-radius: 6px;
  transition: background .5s;
  -webkit-transition: background .5s;
}

#loginbutton:hover {
  transition: opacity 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  transition: all ease 0.5s;
  cursor: pointer;
  background-color: #661600;
}

#signupbutton {
  font-size: 15px;
  width: 12.667em;
  height: 1.667em;
  background-color: #b32700;
  border: none;
  color: white;
  margin-bottom: 2.333em;
  font-family: Raleway;
  font-weight: bold;
  padding-bottom: 1.667em;
  padding-top: 0.267em;
  border-radius: 6px;
  transition: background .5s;
  -webkit-transition: background .5s;


}
#signupbutton:hover {

  transition: opacity 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  -o-transition: all ease 0.5s;
  -ms-transition: all ease 0.5s;
  transition: all ease 0.5s;
  cursor: pointer;
  background-color: #661600;

}

/* Body End */
/* Footer Start */

#footer {
  background-color: #f26522;
  color: white;
  width: 100%;
  font-size: 21.5px;
  height: 8.55813953488372em;
  margin-left: -0.39em;
  padding-top: 0.3488372093023256em;
  margin-top: 1em;
  opacity: 0.920;
  position;float: inherit;
  border-radius: 15px 15px 0px 0px;
}

#footertitle,
#footercontent {
  text-align: left;
  margin-left: 6.976744186046512em;
  font-family: Raleway;
}

#footercontent {
  margin-top: -0.46511627906976744em;
}
/* Footer End */
